$bg-color:yellow;
$text-main-color:black;
$star-color:#be5a0e;
$primary:#0071DC;
$heading:#252525;
$green:#61CE70;
$gray-bg: #f8f8f8;
$link-hover: #0071dc;
$danger-button-color: #F44337;
$primary-button-color: #3e64de;

$success-button-color: #86b223;
$text-color: #4B5981;
$light-color: #B1B8C9;

