

.margin-top{
    margin-top: 6.75rem;
}
.margin-top-sm{
    margin-top: 4rem;
}

.padding-top-sm{
    padding-top: 6rem;
}

.activeLectureLink{
    background-color: red;
}

.navActive{
    background-color:$green;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    color: #fff;
    & .nav-link{
        color: #fff;
    }
}



 .con-wraper.active{
    color: red;
    text-transform: capitalize;
}

 .con-wraper.active:hover{
    color: red;
}

// 
 .top-box-container {
    .shadow-box {
      padding: 3rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    
    }
    img {
      width: 6rem;
    }
    .new {
      background-color:$green;
      color: #ffffff;
      text-align: center;
      width: 4rem;
      height: 2.5rem;
margin-top: 1.4rem;
      line-height: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
