

.margin-top{
    margin-top: 8rem;
}
.margin-top-sm{
    margin-top: 4rem;
}

.padding-top-sm{
    padding-top: 6rem;
}

.activeLectureLink{
    background-color: red;
}
.nav_link{
color: red;
}



 .con-wraper.active{
    color: red;
    text-transform: capitalize;
}

 .con-wraper.active:hover{
    color: red;
}